#loginFormDiv{
    margin-left: 23em;
}

.card {
    margin-top: 9em;
}

.login-button {
    background-color: whitesmoke;
    color: #333333;
}

.form-check-label #isAdmin {
    padding-left: .5em !important;
}